dill==0.3.3
face-alignment==1.1.0
numpy==1.18.5
opencv-python-headless==4.5.1.48
PyYAML==5.3.1
scikit-image==0.16.2
scipy==1.4.1
tensorboardX==2.1
torch==1.7.1+cu101
torchvision==0.8.2+cu101
tqdm==4.42.1
